<% if(locals.user){%>
<div class="chatbox">
      

    <h5 id="msg1">Other Message</h5>
    <h5 id="msg2">Self Message</h5>
    

    <div id="chat">
    <input type="text" id="chat" placeholder="enter the message...">
    <button id="button">send</button>
    </div>


  </div>
  <%}%>